#!/bin/bash
# Flush out the list before we begin
ipfw -q -f flush

cmd="ipfw -q add"
vpn="tun0"

$cmd 00001 allow all from any to any via lo0
$cmd 00010 allow all from any to any via $vpn
$cmd 00103 deny all from any to any uid transmission
$cmd 10000 allow all from any to any
